.containerBody {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;

  .container__parent__product {
    background-color: rgba(30, 30, 30, 0.7);
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    .container__loader {
      display: flex;
      justify-content: center;
      flex: 1;
      height: 50vh;
      align-items: center;
    }

    .container__nav {
      width: 80%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      .container__nav__left {
        display: flex;
        align-items: center;

        .arrowback {
          transform: rotate(180deg);
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    .container__desc {
      background-color: #1e1e1e;
      width: 90%;
      margin: 40px auto;
      display: flex;
      padding: 20px;

      .game__description {
        overflow: hidden !important;
        text-align: justify;
        text-overflow: ellipsis;
      }

      .readMoreButton {
        cursor: pointer;
        color: burlywood;
        padding-left: 20px;
        display: inline-block;
      }

      & h4 {
        color: #f34949;
      }

      & .container__desc__tags {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .tags__item {
          display: inline-block;
          background-color: black;
          padding: 12px;
          border-radius: 15px;
          margin: 4px 10px;
        }
      }

      & .container__desc__platforms {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
    }
  }
}
