.container__pagination {
  background: black;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  display: flex;
  justify-content: center;

  & > img {
    cursor: pointer;

    &:hover {
      fill: rgb(155, 151, 151);
    }
  }

  & .pagination__item {
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;

    &:hover {
      color: rgb(155, 151, 151);
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 0;
    }
  }
}
