.card {
  color: white;
  width: 170px;
  height: 325px;
  background-color: #1e1e1e;
  margin: 10px;
  .card__img {
    width: 170px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
  }
  .card__name {
    width: 170px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .card__details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .card__details__icon svg {
    margin: 0 5px;
    fill: white;
  }
}
